@model AnimeWebSite.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Auth" asp-action="Auth">To auth</a>
<a asp-controller="Auth" asp-action="Login">To login</a>

@{
    <p>test message</p>
    if (Model != null)
    {
        <p>@Model.Email</p>
        <p>@Model.Nickname</p>
        <p>@Model.UserId</p>
    }
}