
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/Styles.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>ClownS</title>
    <link rel="shortcut icon" href="">
</head>

<body>
<form asp-controller="Auth" asp-action="Registration">
    <section class="login_main">
        <div class="container">
            <div class="page_for_enter">
                <div class="enter_to_account">Создать аккаунт</div>
                <div class="log_fields">
                    <input class="login_field" type="text" placeholder="Логин*">
                    <input class="password_field" type="password" placeholder="Пароль*">
                </div>
                <div class="btns">
                    <button class="register_1">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </section>
</form>

</body>
</html>